<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='web_mainpage.css') }}">
    <title>AgroAqua</title>
</head>
<body>
<div class="container">    
    <h1>Agro-Aqua AI Intelligent Agriculture and Aquaculture system</h1>
    <hr>
    <p>Agro-Aqua AI is an intelligent smart farming platform designed to support modern agriculture and aquaculture using Artificial Intelligence, Machine Learning, and Deep Learning technologies. The system helps farmers and aquaculture managers make accurate, data-driven decisions through intelligent prediction models, automated analysis, and smart monitoring solutions.</p>
</div>
<div class="logsign_buttons">
    <a href="/login"><button>Login</button></a>
    <a href="/signup"><button>Sign up</button></a>
</div>
<p>Click sign up if you don't have an account.</p>

<hr class="footer_line">
<footer>Made with Love from India</footer>
</body>
</html>
